<div class="container">
    <div class="row">
        <div id="bodyDiv" class="col-12">
            {{#each scrapedArticles}}
            <h2><a target="_blank" href={{URL}}>{{Headline}}</a></h2>
            <h3> By: {{Author}}</h3>
            <br>
            <h4>Summary:</h4>
            <div>{{Summary}}</div>
            <div>
                {{#if Image}}
                <img src={{Image}}>
                {{else}} <img src="https://myintuition.org/wp-content/uploads/2018/09/the-new-york-times-logo.jpg"
                    style="width: 200px">
                {{/if}}
            </div>
            <h5><a href="/articles/{{_id}}">Go To Article!</a></h5>
            <h5><a href="/articles/{{_id}}/comment">Comment On Article!</a></h5>
            <br>
            <br>
            {{/each}}
        </div>
    </div>